# Godot 4+ specific ignores
.godot/

# Project-specific ignores
TrenchbroomMaps/autosave/
Build/
TrenchbroomEntityModels/*
!TrenchbroomEntityModels/.gdignore
OriginalGameModels/*.blend
OriginalGameModels/*.gltf
OriginalGameModels/*.png